.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}
.logo{
    color: #4e4e4e;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
}
.logo:hover{
    color:#4e4e4e ;
}
.NavBar a{
    color: #4e4e4e;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 11px;
}
.NavBar a:hover{
    color: #4e4e4e;
}
.active {
    background-color: #ffffff;
    border-radius: 5px;
}